

// Process Parameters:

// Process Parameters for Adapter_Trimmer_Quality_Module_Adapter_Removal:
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.Tool_for_Adapter_Removal =  "trimmomatic"  //* @dropdown @options:"trimmomatic","fastx_clipper" @description:"Choose adapter removal tool to be used. Note: fastx_clipper is not suitable for paired reads." 
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.Adapter_Sequence =  ""  //* @textbox @description:"Removes 3' Adapter Sequences. You can enter a single sequence or multiple sequences in different lines. Reverse sequences will not be removed." @tooltip:"Trimmomatic is used for adapter removal" 
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.min_length =  10  //*  @input @description:"Specifies the minimum length of reads to be kept"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.seed_mismatches =  2  //* @input @description:"Specifies the maximum mismatch count which will still allow a full match to be performed"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.palindrome_clip_threshold =  30   //* @input @description:"Specifies how accurate the match between the two -adapter ligated- reads must be for PE palindrome read alignment."
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.simple_clip_threshold =  5  //* @input @description:"specifies how accurate the match between any adapter etc. sequence must be against a read"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.discard_non_clipped =  "yes"  //* @dropdown @options:"yes","no" @description:"-c: discard_non_clipped sequences (keep only sequences which contained the adapter)"
params.Adapter_Trimmer_Quality_Module_Adapter_Removal.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the adapter removal step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for Adapter_Trimmer_Quality_Module_Trimmer:
params.Adapter_Trimmer_Quality_Module_Trimmer.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Adapter_Trimmer_Quality_Module_Trimmer.single_or_paired_end_reads =  ""  //* @dropdown @options:"single","pair" 
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_5prime =  0  //* @input @description:"Trimming length from 5' end"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_3prime =  0  //* @input @description:"Trimming length from 3' end"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_5prime_R1 =  0  //* @input @description:"Trimming length from 5' end of R1 reads"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_3prime_R1 =  0  //* @input @description:"Trimming length from 3' end of R1 reads"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_5prime_R2 =  0  //* @input @description:"Trimming length from 5' end of R2 reads"  
params.Adapter_Trimmer_Quality_Module_Trimmer.trim_length_3prime_R2 =  0  //* @input @description:"Trimming length from 3' end of R2 reads" 
params.Adapter_Trimmer_Quality_Module_Trimmer.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the trimming step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for Adapter_Trimmer_Quality_Module_Quality_Filtering:
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.tool =  "trimmomatic"  //* @dropdown @options:"trimmomatic","fastx" @description:"Choose quality removal tool to be used. Note:fastx option (fastx_toolkit fastq_quality_filter) is not suitable for paired reads." 
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.phred =  33  //*  @dropdown @options:"33","64" @description:"Specifies the fastq quality encoding. Default is 33 which is now almost universally used, and 64 which is used in some older Illumina data"
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.window_size =  10  //* @input @description:"Performs a sliding window trimming approach. It starts scanning at the 5' end and clips the read once the average quality within the window falls below a threshold (=required_quality)."  
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.required_quality_for_window_trimming =  15  //* @input @description:"specifies the average quality required for window trimming approach" 
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.leading =  5  //* @input @description:"Cut bases off the start of a read, if below a threshold quality" 
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.trailing =  5  //* @input @description:"Cut bases off the end of a read, if below a threshold quality"  
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.minlen =  36  //* @input @description:"Specifies the minimum length of reads to be kept"  
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.minQuality =  20  //* @input @description:"Minimum quality score to keep reads"
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.minPercent =  100  //* @input @description:"Minimum percent of bases that must have entered minQuality"
params.Adapter_Trimmer_Quality_Module_Quality_Filtering.remove_previous_reads =  "false"  //*  @checkbox @description:"After successful completion of the quality filtering step, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for ncRNA_Removal:
params.ncRNA_Removal.params_STAR =  "--runThreadN 4 --limitBAMsortRAM 20000000000 --outFilterMismatchNmax 1 --outFilterMultimapNmax 100  --alignIntronMax 1  --outWigType wiggle read1_5p"  //* @input @description:"Specify STAR parameters for ncRNA removal"

// Process Parameters for Sequential_Mapping_Module_Sequential_Mapping:
params.Sequential_Mapping_Module_Sequential_Mapping._select_sequence =  ""  //* @dropdown @description:"Select sequence for mapping" @title:"Sequence Set for Mapping" @options:{"rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome",custom"},{_nucleicAcidType="dna","ercc","rmsk","genome","custom"}
params.Sequential_Mapping_Module_Sequential_Mapping.index_directory =  ""  //* @input  @description:"index directory of sequence(full path)" @tooltip:"The index directory must include the full path and the name of the index file must only be the prefix of the fasta or index file. Index files and Fasta files also need to have the same prefix.For STAR alignment, gtf file which has the same prefix, must be found in same directory" 
params.Sequential_Mapping_Module_Sequential_Mapping.name_of_the_index_file =  ""  //* @input  @autofill:{_select_sequence=("rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"), _select_sequence},{_select_sequence="custom", " "} @description:"Name of the index or fasta file (prefix)" @tooltip:"The index directory must include the full path and the name of the index file must only be the prefix of the fasta or index file. Index files and Fasta files also need to have the same prefix.For STAR alignment, gtf file which has the same prefix, must be found in same directory" 
params.Sequential_Mapping_Module_Sequential_Mapping._aligner =  "bowtie2"  //* @dropdown @description:"Select aligner tool"  @options:{_select_sequence=("rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk"),"bowtie","bowtie2"},{_select_sequence=("genome","custom"),"bowtie","bowtie2","STAR"}
params.Sequential_Mapping_Module_Sequential_Mapping.aligner_Parameters =  ""  //* @input @description:"Aligner parameters." @autofill:{_aligner="bowtie", "--threads 4"},{_aligner="bowtie2", "--threads 4"},{_aligner="STAR", "--runThreadN 2"} 
params.Sequential_Mapping_Module_Sequential_Mapping.description =  ""  //* @input @autofill:{_select_sequence=("rRNA","ercc","miRNA","tRNA","piRNA","snRNA","rmsk","genome"), _select_sequence},{_select_sequence="custom", " "} @description:"Description of index file (please don't use comma or quotes in this field" 
params.Sequential_Mapping_Module_Sequential_Mapping.filter_Out =  "Yes"  //* @dropdown @dropdown @options:"Yes","No" @description:"Select whether or not you want the reads mapped to this index filtered out of your total reads." 
params.Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates =  "no"  //* @dropdown @description:"Duplicates (both PCR and optical) will be removed from alignment file (bam) and separate count table will be created for comparison" @title:"General Mapping Options" @options:{"yes","no"}
params.Sequential_Mapping_Module_Sequential_Mapping.remove_duplicates_based_on_UMI_after_mapping =  "no"  //* @dropdown @description:"UMI extract process should have executed before this step. Read headers should have UMI tags which are separated with underscore.(eg. NS5HGY:2:11_GTATAACCTT)" @options:{"yes","no"}
params.Sequential_Mapping_Module_Sequential_Mapping.remove_previous_reads =  "false"  //* @checkbox @description:"After successful completion of the sequential mapping, previous reads will be removed to save space. However, this might affect resume functionality."

// Process Parameters for STAR_align_Single_Best_Multimapper:
params.STAR_align_Single_Best_Multimapper.params_STAR =  "--runThreadN 4 --alignSJDBoverhangMin 1 --alignSJoverhangMin 8 --outFilterType BySJout --outFilterMultimapNmax 200 --outSAMmultNmax 1 --outMultimapperOrder Random --outWigType wiggle read1_5p"  //* @input @description:"Specify STAR parameters"

// Process Parameters for aggr:
params.aggr.sample_order =  ""  //* @input @description:"(optional) You can overwrite the default order of the samples in the figures by entering a new set of 'comma-separated' prefixes of the samples. e.g. control_rep1, control_rep2"
params.aggr.amino_acid_list =  "A, C, D, E, F, G, H, I, K, L, M, N, P, Q, R, S, T, V, W, Y"  //* @input @description:"Comma-separated list of amino acids that are going to be highlighted in figure 2S3B. (e.g. A, C, D, E, F, G, H, I, K, L, M, N, P, Q, R, S, T, V, W, Y)"
params.aggr.color_code_list =  ""  //* @input @description:"(optional) Comma-separated list of hex color codes that are going to be highlighted in figure 2A, 2B, 2S3A. (eg. #e6194b, #3cb44b, #ffe119, #4363d8, #f58231, #911eb4, #46f0f0, #f032e6, #bcf60c, #fabebe, #008080, #e6beff, #9a6324, #fffac8, #800000, #aaffc3, #808000, #ffd8b1, #000075, #808080)"
params.aggr.control_group_name =  ""  //* @input @description:"Control group name for figures"
params.aggr.control_group =  ""  //* @input @description:"Comma-separated list of sample names (please don't include the extension of the file e.g. for control.rep1.fq -> use control.rep1)" 
params.aggr.treatment_group_name =  ""  //* @title:"Treatment Groups" @input @description:"Treatment group name for figures"
params.aggr.treatment_group =  ""  //*  @input @description:"Comma-separated list of samples (please don't include the extension of the file) (e.g. for first group: treat1.rep1, treat1.rep2 and for second group click add button and enter: treat2.rep1, treat2.rep2)" 

// Pipeline Config:
$HOSTNAME='default'
//pipeline defaults
params.genome_build = "" //* @dropdown @options:"human_hg38_gencode_v30, mouse_mm10_gencode_m25, custom"
params.run_ncRNA_Removal = "yes" //* @dropdown @options:"yes, no" @show_settings:"ncRNA_Removal"
params.run_STAR = "yes" //* @dropdown @options:"yes, no" @show_settings:"STAR_align_Single_Best_Multimapper"
params.run_riboseq_workflow = "yes" //* @dropdown @options:"yes, no" @show_settings:"riboseq_aggr" @description:"Please enter control and treatment groups before running pipeline." 
params.run_Adapter_Removal =  "yes"  //* @dropdown @options:"yes","no" @show_settings:"Adapter_Removal"
params.run_Trimmer =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Trimmer"
params.run_Quality_Filtering =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Quality_Filtering"
params.run_FastQC =  "no"  //* @dropdown @options:"yes","no"
params.run_checkAndBuild = "no"  //* @dropdown @options:"yes","no"
params.run_Sequential_Mapping =  "no"  //* @dropdown @options:"yes","no" @show_settings:"Sequential_Mapping"


includeConfig 'conf/base.config'
profiles {
  docker { 
        process.container = "dolphinnext/riboseq:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        docker.enabled = true 
        docker.runOptions = "-v ${params.DOWNDIR}:${params.DOWNDIR}" 
            
  }
  singularity { 
        process.container = "dolphinnext/riboseq:1.0"
        params.DOWNDIR="$HOME" // path where genome data will be saved and it should be different than run directory
        singularity.enabled = true 
        singularity.runOptions = "--bind ${params.DOWNDIR}" 
  }
}
