
$HOSTNAME = "default"
params.DOWNDIR = (params.DOWNDIR) ? params.DOWNDIR : ""

_species = ""
_build = ""
_share = ""
_annotation = ""  
//* autofill
if (params.genome_build == "human_hg38_gencode_v30"){
    _species = "human"
    _build = "hg38"
    _annotation = "gencode_v30"
} else if (params.genome_build == "mouse_mm10_gencode_m25"){
    _species = "mouse"
    _build = "mm10"
    _annotation = "gencode_m25"
}

if ($HOSTNAME == "default"){
    _share = "${params.DOWNDIR}/ribosome-profiling"
    $SINGULARITY_IMAGE = "dolphinnext/riboseq:1.0"
    $DOCKER_IMAGE = "dolphinnext/riboseq:1.0"
    $DEFAULT_IMAGE = "singularity"
}
//* platform
if ($HOSTNAME == "ghpcc06.umassrc.org"){
    _share = "/share/data/umw_biocore/dnext_data/genome_data_other/ribosome-profiling"
    $SINGULARITY_IMAGE = "/project/umw_biocore/singularity/UMMS-Biocore-ribosome-profiling-1.0.simg"
    $TIME = 240
    $CPU  = 1
    $MEMORY = 32 
    $QUEUE = "short"
} 
//* platform
if (params.genome_build && $HOSTNAME){
    params.genome_origin      = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data_other/ribosome-profiling/${_species}/${_build}/main/genome.fa"
    params.gtf_origin         = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data_other/ribosome-profiling/${_species}/${_build}/${_annotation}/genes.gtf"
    params.trna_gtf_origin    = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data_other/ribosome-profiling/${_species}/${_build}/${_annotation}/trna.gtf"
    params.rrna_fa_origin     = "https://galaxyweb.umassmed.edu/pub/dnext_data/genome_data_other/ribosome-profiling/${_species}/${_build}/${_annotation}/rrna.fa"
    
    params.gtf          = "${_share}/${_species}/${_build}/${_annotation}/genes.gtf"
    params.trna_gtf     = "${_share}/${_species}/${_build}/${_annotation}/trna.gtf"
    params.rrna_fa      = "${_share}/${_species}/${_build}/${_annotation}/rrna.fa"
    params.genome       = "${_share}/${_species}/${_build}/main/genome.fa"
    params.genome2bit   = "${_share}/${_species}/${_build}/main/genome.2bit"
    params.single_transcript_gtf = "${_share}/${_species}/${_build}/${_annotation}/genes_protCode_TermStopCodon_validUTRs.gtf"
    params.single_transcript_mRNA_csv = "${_share}/${_species}/${_build}/${_annotation}/genes_protCode_TermStopCodon_validUTRs_mRNAseqs.csv"
    params.single_transcript_UTR_csv = "${_share}/${_species}/${_build}/${_annotation}/genes_protCode_TermStopCodon_validUTRs_UTRs.csv"
    params.single_transcript_stopcodons_csv = "${_share}/${_species}/${_build}/${_annotation}/genes_protCode_TermStopCodon_validUTRs_stopcodons.csv"
    params.motif_file_root_path = "${_share}/${_species}/${_build}/${_annotation}/genes_protCode_TermStopCodon_validUTRs_codons/genes_protCode_TermStopCodon_validUTRs_"
    params.star_index    = "${_share}/${_species}/${_build}/${_annotation}/STARIndex/"
    params.ncRNA_star_index = "${_share}/${_species}/${_build}/${_annotation}/STARIndex_ncRNA/"
    
    params.bowtieInd_rRNA  = "${_share}/${_species}/${_build}/commondb/rRNA/rRNA"
    params.bowtieInd_ercc  = "${_share}/${_species}/${_build}/commondb/ercc/ercc"
    params.bowtieInd_miRNA = "${_share}/${_species}/${_build}/commondb/miRNA/miRNA"
    params.bowtieInd_tRNA  = "${_share}/${_species}/${_build}/commondb/tRNA/tRNA"
    params.bowtieInd_piRNA = "${_share}/${_species}/${_build}/commondb/piRNA/piRNA"
    params.bowtieInd_snRNA = "${_share}/${_species}/${_build}/commondb/snRNA/snRNA"
    params.bowtieInd_rmsk  = "${_share}/${_species}/${_build}/commondb/rmsk/rmsk"
    params.bowtie_index  = "${_share}/${_species}/${_build}/BowtieIndex/genome"
    params.bowtie2_index = "${_share}/${_species}/${_build}/Bowtie2Index/genome"
}
if ($HOSTNAME){
    params.densebuilder_main_path = "/usr/local/bin/G418_readthrough/riboseq/densebuilder_main.py"
    params.makeavggene_main_path = "/usr/local/bin/G418_readthrough/riboseq/makeavggene_main.py"
    params.riboseq_buildDenseTables_rpkm_path = "/usr/local/bin/G418_readthrough/riboseq/riboseq_buildDenseTables_rpkm.py"
    params.riboseq_buildDenseTables_rpkm_utr3adj_path = "/usr/local/bin/G418_readthrough/riboseq/riboseq_buildDenseTables_rpkm_utr3adj.py"
    params.rphelper_path = "/usr/local/bin/G418_readthrough/riboseq/"
    params.codon_occupancy_main_path = "/usr/local/bin/G418_readthrough/riboseq/codon_occupancy_main.py"
}
//* autofill
